$floating-toolbar-height: 44;

.floatingToolbar {
	background-color: $dark-gray-500;
	min-width: 100;
	// max-height: $floating-toolbar-height;
	border-radius: 22px;
	flex-direction: row;
	height: $floating-toolbar-height;
	align-items: center;
	justify-content: center;
	align-self: center;
	top:-$floating-toolbar-height;
	position:absolute,
}

.floatingToolbarFillColor {
	background-color: rgba(#1d2327, 0.85);
}

.floatingToolbarFillColorDark {
	background-color: rgba(#3c434a, 0.85);
}
